# fly.toml app configuration file generated for curatela-legal on 2025-12-04T20:34:48-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'curatela-legal'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  RAILS_ENV = 'production'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
